body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar-logo {
    padding: 5px 10px;
}

.navbar-search {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 5px 10px;
    width: 400px;
}

.search-icon {
    margin-right: 5px;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    flex: 1;
}

.navbar-action {
    font-size: 0.9em;
    color: #333333;
    padding: 5px 10px;
}

.free-text {
    color: #007bff;
    font-weight: bold;

}

.navbar-action:hover {
    cursor: pointer;
}

.navbar-action-icon {
    padding-bottom: 3.5px;
}


/* 2nd section css starts here  */

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding-top: 30px;
}

.left-options {
    display: flex;
}

.option {
    font-weight: bold;
    color: gray;
    text-decoration: none;
    cursor: pointer;
    padding-right: 20px;
}

.right-options {
    display: flex;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-btn-write-post {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    margin-right: 10px;
    border: none;
}

.btn-btn-write-post:hover {
    color: gray;
}


.btn-join-group {
    background-color: #007bff;
    color: white;
    border: none;
}

/* 2nd section css ends here */

/* 3rd section css start here */

.thirdsection-container {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}

.thirdsection-left {
    flex: 60%;
    background: yellow;
}

.thirdsection-right {
    flex: 40%;
    background-color: aqua;
}

/* 3rd section css ends here */